main {
  text-align: center;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  color: khaki;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: cadetblue;
  color: lightgoldenrodyellow;
}

* {
  box-sizing: border-box;
}
